/* public/css/training.css */

#training-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 240px;
    background: #111;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 8px solid #fff;
    box-shadow: 0 0 0 5000px rgba(0,0,0,0.8); /* Làm tối nền xung quanh */
}

#target-key {
    font-size: 5rem;
    color: #f1c40f;
    margin: 15px;
    border: 6px solid #fff;
    padding: 10px 30px;
    background: #000;
    box-shadow: 6px 6px 0px #444;
}

.timer-container {
    width: 200px;
    height: 20px;
    background: #333;
    border: 4px solid #fff;
    position: relative;
}

#timer-bar {
    width: 100%;
    height: 100%;
    background: #2ecc71;
}

/* Hiệu ứng chớp màn hình khi thành công */
.pixel-flash {
    animation: flashEffect 0.1s steps(2);
}

@keyframes flashEffect {
    from { filter: invert(1); }
    to { filter: invert(0); }
}